<div class="container">
    <div class="container-content">
        <div class="inner-content">

            <mat-form-field>
                <mat-label>Pais</mat-label>
                <input matInput aria-label="Pais" [matAutocomplete]="auto" [formControl]="countryControl"
                    (keydown.space)="$event.preventDefault()" (keydown.backspace)="resetControl()">

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let country of filteredCountry | async" [value]="country"
                        (onSelectionChange)="countriesControl.selectedCountry=country.code">
                        <img class="country-option-img" height="25" [src]="country.flag">
                        <span>{{country.name}}</span>
                    </mat-option>
                </mat-autocomplete>

                <mat-progress-bar mode="indeterminate" *ngIf="progress" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Temporadas</mat-label>
                <mat-select [(value)]="seasonControl.selectedSeason"
                    [disabled]="seasonControl.seasons.length == 0 || countryControl.value == null"
                    (selectionChange)="getLeaguesFromCountry($event.value)">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let season of seasonControl.seasons" [value]="season">{{ season }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ligas</mat-label>
                <mat-select [(value)]="leagueControl.selectedLeague"
                    [disabled]="leagueControl.leagues.length == 0 || countryControl.value == null">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let league of leagueControl.leagues" [value]="league">
                        <img class="league-option-img" height="25" [src]="league.logo">
                        {{ league.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
</div>