<mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav opened mode="side" *ngIf="isLogged()">Start content</mat-sidenav> -->

    <mat-toolbar color="primary" *ngIf="isLogged()">
        <div class="container">
            <div class="container-content">
                <button mat-mini-fab class="home-icon">
                    <mat-icon>home</mat-icon>
                </button>
                <span>Meu Time</span>
                <span class="spacer"></span>
                <button mat-flat-button color="accent" (click)="logingOut()">Logout</button>
            </div>
        </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-sidenav-container>