.key-input-card {
  width: 400px;
  max-width: 600px;
}

.key-input-control {
  margin-top: 20px;
  width: 100%;
}

.key-input-right-align {
  text-align: right;
}

input.key-input-right-align {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  -moz-appearance: textfield;
  appearance: textfield;
}
